# FastAPI y dependencias relacionadas
fastapi==0.115.12
uvicorn==0.21.1
pydantic==2.10.6
pydantic-settings==2.8.1
python-dotenv==1.1.0

# Autenticación y seguridad
PyJWT==2.10.1
passlib==1.7.4
bcrypt==4.3.0
python-jose==3.3.0

# Base de datos y ORM
supabase==2.14.0
psycopg2-binary==2.9.9

# Google Calendar API
google-api-python-client==2.165.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1

# OpenAI
openai==1.68.2

# Utilidades
python-multipart==0.0.6
email-validator==2.2.0
httpx==0.28.1
aiohttp==3.11.14
